bin/
build/
html/
include/gmock/
include/gtest/
include/yaml-cpp/
lib/
tools/clang-format
*.o

# Ignore Mac specific files
.DS_Store

# Ignore vim ctags file
.tags

# Ignore VSCode stuff
.vscode/
Makefile
